{% extends 'base1.html'%}
{%block title%}搜索{{ kw }}的结果-AppBug{%endblock%}
{%block search_box_footer%}{%endblock%}
{% block body %}
<div class="result">
  {% for tieba in query%}
    <div class="result-item result-item-focus">
        <span class="result-number">1</span>
        <span class="result-title"><a href="/info/{{tieba.id}}">{{tieba.name}}</a></span>
        <span class="result-desc">{{tieba.desc}}</span>
        <span class="result-read">--></span>
    </div>  
    {% empty %} 
    <p class="info">没有你搜的贴吧，搜下其他的吧！</p>     
</div>
{% endblock %}